<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include partials/header.ejs %>
  </head>
  <body>
    <div id=#wrapper>
    <% include partials/nav.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-md-3"><img class="img-thumbnail" src="/images/sunny/Beach.jpg"></div>
        <div class="col-md-3"><img class="img-thumbnail" src="/images/sunny/Ring.jpg"></div>
        <div class="col-md-3"><img class="img-thumbnail" src="/images/sunny/walking.jpg"></div>
        <div class="col-md-3"><img class="img-thumbnail" src="/images/sunny/Hands.jpg"></div>
      </div>
    </div>


    </div> <!--end wrapper-->
    <% include partials/footer.ejs %>
  </body>
</html>
