<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include partials/header.ejs %>
  </head>
  <body>

    <div id=#wrapper>
    <% include partials/nav.ejs %>
    </div>
    <% include partials/footer.ejs %>
  </body>
</html>
